.container {
  position: relative;
  z-index: 1;
  padding-bottom: 5rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 1023px) {
    margin-bottom: 16rem;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 34rem;
  }
  @media screen and (max-width: 425px) {
    margin-bottom: 40rem;
  }

  .content {
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 49rem 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content 1fr;
    column-gap: 3rem;
    row-gap: 2rem;

    padding: 3rem;
    padding-bottom: 6rem;
    background: rgba(58, 59, 75, 0.12);
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.08), inset 2px 2px 4px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);

    border-radius: 20px;

    @media screen and (max-width: 1439px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 1023px) {
      padding-bottom: 12rem;
      grid-template-columns: repeat(2, calc(50% - 1.5rem));
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
    }

    .glow {
      position: absolute;
      left: 50%;
      transform: translate(-51%, 55%) scale(1.2);
      bottom: 0;
      grid-column: 1 / -1 !important;
    }

    & > div:first-child {
      grid-row: 1 / 7;
      @media screen and (max-width: 767px) {
        grid-row: 1 / span 1;
      }
    }

    & > div:not(:first-child) {
      grid-column: 2 / -1;
      justify-self: start;
      align-self: start;
      @media screen and (max-width: 767px) {
        grid-column: 1 / -1;
      }
    }

    .heading {
      display: flex;
      justify-self: stretch !important;
      gap: 2rem;

      & > *:first-child {
        margin-right: auto;
      }

      @media screen and (max-width: 1439px) {
        flex-wrap: wrap;
        // gap: ;
      }
    }
    .text {
      grid-column: 2 / -1;

      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      letter-spacing: 0em;
      text-align: left;
      @media screen and (max-width: 1439px) {
        padding: 1rem;
      }
    }
  }
}
