.container {
  padding: 0 1.8rem;

  & * {
    justify-content: center !important;
    color: var(--textColor);
  }

  button {
    border-radius: 100px !important;
    box-shadow: 0 20px 50px rgba(6, 10, 20, 0.07), inset -6px -10px 20px rgba(8, 11, 24, 0.3),
      inset 6px 10px 20px #ffffff0d !important;
    background: #151c1e !important;
    color: var(--textColor);
    border: none;

    font-family: 'General Sans' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 1.6rem !important;
    line-height: 160%;
    height: 4.2rem !important;
    padding: 0.8rem 1.6rem !important;

    svg {
      display: none;
    }

    &:last-child {
      div:last-child {
        background: transparent !important;
        border: none !important;
      }
    }
  }
}
