.container {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: white;

  .hash {
    padding: 0 1rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    display: inline-block;
    color: yellow;
    font-weight: 700;
    word-break: break-all;
  }

  .dataBlock {
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
    .header {
      color: #ff6565;
      display: inline-block;
      width: 35rem;
      font-weight: 780;
    }
  }

  .unavailable {
    color: orange;
  }

  .dataSubBlock {
    display: flex;
    @media screen and (max-width: 950px) {
      display: block;
    }

    .header {
      color: #65ff8e;
      padding: 1rem 0;
      font-weight: 780;
      margin-right: 1rem;
      flex: 0 0 22rem;
      padding: 0.5rem 0;
    }
    &.headers {
      display: flex;

      .header {
        flex: 0 0 35rem;
        border: none;
        padding: 0.5rem 0;
      }
    }

    .value {
      word-wrap: break-word;
      word-break: break-all;
      padding: 1rem 0;
      .link {
        margin-bottom: 1rem;

        a {
          color: white;
          &:link,
          &:visited,
          &:active {
            color: white;
          }
        }
      }
      .image {
        padding: 1rem 0;
        display: flex;
        max-width: 250px;
        min-height: 50px;

        &.userpic {
          width: 25px;
        }
        @media screen and (max-width: 768px) {
          width: 150px;
        }

        img {
          width: 320px;
          margin-right: 1rem;
          @media screen and (max-width: 768px) {
            width: 250px;
          }
        }

        video {
          width: 320px;
        }
      }
    }
  }
}
