.input {
  border: 1px solid #4098f4;
  background-color: transparent;
  height: 80px;
  width: 573px;
  font-family: NeueMachina;
  font-size: 30px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 1px;
  text-align: left;
  color: white;
  border-radius: 16px;
  padding: 10px;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
  }
}
