.container {
  .icon {
    width: 8rem;
    height: 8rem;
    background: linear-gradient(222.06deg, rgba(255, 255, 255, 0.22) -16.8%, rgba(255, 255, 255, 0) 114.68%);
    border-radius: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .glow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    .image {
      width: 4.7rem;
      height: 4.7rem;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
  }

  @media only screen and (max-width: 639px) {
    display: flex;
    align-items: center;
    .icon {
      margin: 0;
      margin-right: 2rem;
    }
  }
}
