.container {
  display: flex;
  .profileImage {
    flex: 0 0 4.4rem;

    height: 4.4rem;
    border-radius: 100px;
    background-color: #1b222c;
    overflow: hidden;
    padding: 0.6rem;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  .profileName {
    flex: 0 0 34rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-all;

    .profileLink {
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;

      span {
        display: inline-block;
        border-bottom: 2px solid white;
        padding-bottom: 2px;
      }

      svg {
        margin-left: 4px;
        position: relative;
        top: 1px;
      }
    }
  }
}
