.container {
  display: flex;
  @media screen and (max-width: 1439px) {
    flex-basis: 100%;
  }

  .profileImage {
    flex: 0 0 4.4rem;

    height: 4.4rem;
    border-radius: 100px;
    background-color: #1b222c;
    overflow: hidden;
    padding: 0.6rem;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  .profileName {
    flex: 0 0 34rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-all;

    @media screen and (max-width: 1439px) {
      flex-grow: 1;
    }
    @media screen and (max-width: 1023px) {
      flex-basis: 28rem;
    }

    .profileLink {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 150%;

      span {
        display: inline-block;
        border-bottom: 2px solid white;
        padding-bottom: 2px;
      }

      svg {
        margin-left: 4px;
        position: relative;
        top: 1px;
      }
    }
  }
}
