.button {
  background: #0072ff;
  border-radius: 16px;
  border: none;
  font-family: NeueMachina;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  letter-spacing: 1px;
  color: white;
  padding: 0 32px;
  height: 80px;
}
