.container {
  position: relative;
  // background-image: url('../../../public/images/img-01.png');
  background-size: cover;
  background-position: right;
  background-color: #040d2c;
  padding: 50px 120px;
  min-height: 100vh;
  width: 100%;

  .testButton {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 0;
    color: red;
    font-size: 24px;
  }

  .logo {
    position: absolute;
    width: 500px;

    top: 0;
    left: 0;
  }

  .uploadformGroup {
    // background-color: aqua;
    width: 850px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-bottom: 15px;

    .inputGroup {
      // background-color: rebeccapurple;
      display: flex;
      width: 100%;
      margin-bottom: 40px;

      input {
        width: 80%;
        height: 80px;
        background-color: transparent;
        border: 1px solid #4098f4;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        display: flex;
        align-items: center;
        padding-left: 28px;
        color: white;
        font-family: NeueMachina;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;

        &::placeholder {
          color: rgba(255, 255, 255, 0.684);
          font-family: NeueMachina;
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 30px;
          /* or 136% */
        }
      }
      button {
        &.pasteButton {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 20%;
          height: 80px;
          background-color: transparent;
          border: 1px solid #4098f4;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          color: white;
          font-family: NeueMachina;
          font-style: normal;
          font-weight: 800;
          font-size: 26px;
          line-height: 100%;
          padding: 0;
          margin: 0;
        }
      }
    }

    button {
      &.submitButton {
        background: #0072ff;
        border-radius: 10px;
        border: none;
        color: white;
        width: 270px;
        height: 60px;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 26px;
        font-family: NeueMachina;

        text-align: center;
        letter-spacing: 1px;
      }
    }

    .errorTip {
      color: #ff0000;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 26px;
      padding: 26px;
      font-family: NeueMachina;
    }
  }

  .successformGroup {
    position: relative;
    background-color: rgb(217 217 217 / 10%);
    // background-color: aqua;
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-radius: 16px;
    // height: 827px;
    font-family: NeueMachina;
    padding: 36px 50px;
    .backButton {
      position: absolute;
      left: 10px;
      top: 0;
      button {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #4098f4;
        // border-radius: 8px;
        color: white;
        font-family: NeueMachina;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        padding: 20px 15px;
      }
    }

    .title {
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
    }
    .central {
      margin-top: 29px;
      width: 100%;
      // height: 100% - 17%;
      display: flex;
      .picture {
        // background-color: red;
        height: 100%;
        width: 50%;
        .imageContainer {
          position: relative;
          // background-color: aqua;
          width: 496px;
          // height: 619px;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
      .formGroup {
        // background-color: aquamarine;
        width: 50%;
        height: 100%;
        padding: 0 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: start;

        .hashTitle {
          position: relative;
          display: flex;
          align-items: baseline;
          font-size: 22px;

          button {
            position: relative;
            top: -2px;

            display: flex;
            align-items: center;
            color: white;
            background-color: transparent;
            border: 1px solid #4098f4;
            // width: 150px;
            // height: 40px;
            border-radius: 4px;
            padding: 10px 15px;
            font-size: 22px;
            margin-left: 20px;
          }
        }

        div {
          margin-bottom: 10px;
        }

        .urlTitle {
          position: relative;
          display: flex;
          align-items: baseline;
          font-size: 22px;

          button {
            position: relative;
            top: -2px;

            display: flex;
            align-items: center;
            color: white;
            background-color: transparent;
            border: 1px solid #4098f4;
            // width: 150px;
            // height: 40px;
            border-radius: 4px;
            padding: 10px 15px;
            font-size: 22px;
            margin-left: 20px;
          }
        }
        .hash {
          width: 355px;
          height: 300px;
          // left: 993px;
          // top: 344px;

          background: #040f2e;
          border-radius: 6px;
          overflow: hidden;
          word-break: break-all;
          padding: 20px 15px;
          text-align: start;
        }

        .url {
          width: 355px;
          height: 100px;
          background: #040f2e;
          border-radius: 6px;
          overflow: hidden;
          word-break: break-all;
          padding: 20px 15px;
          text-align: start;
        }
      }
    }
    .bottom {
      iframe {
        border-radius: 4px;
        border: 1px solid #4098f4;
        width: calc(100% - 50px);
        height: calc(280px);
        margin-top: 10px;
      }
      // > div {
      //   height: 100%;

      //   overflow: auto;
      //   padding: 0 15px;
      // }
    }
  }

  .successMintFormGroup {
    position: relative;
    background-color: rgb(217 217 217 / 10%);
    // background-color: aqua;
    width: 930px;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-radius: 16px;
    height: 870px;
    font-family: NeueMachina;
    padding: 36px 50px;
    .backButton {
      position: absolute;
      left: 10px;
      top: 0;
      button {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #4098f4;
        // border-radius: 8px;
        color: white;
        font-family: NeueMachina;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        padding: 20px 15px;
      }
    }

    .title {
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
    }
    .central {
      position: relative;
      margin-top: 29px;
      width: 100%;
      height: 100% - 17%;
      display: flex;
      .picture {
        position: relative;
        // background-color: red;
        height: 100%;
        width: 50%;
        .imageContainer {
          position: relative;
          // background-color: aqua;
          width: 100%;
          height: 100%;
          // height: 619px;

          img {
            position: absolute;
            right: 0;
            max-width: 120%;
            max-height: 120%;

            &.stamp {
              width: 100%;
            }
          }
        }
      }
      .formGroup {
        // background-color: aquamarine;
        width: 50%;
        height: 100%;
        padding: 0 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: start;

        .hashTitle {
          position: relative;
          display: flex;
          align-items: baseline;
          font-size: 22px;

          button {
            position: relative;
            top: -2px;

            display: flex;
            align-items: center;
            color: white;
            background-color: transparent;
            border: 1px solid #4098f4;
            // width: 150px;
            // height: 40px;
            border-radius: 4px;
            padding: 10px 15px;
            font-size: 22px;
            margin-left: 20px;
          }
        }

        div {
          margin-bottom: 10px;
        }

        .urlTitle {
          position: relative;
          display: flex;
          align-items: baseline;
          font-size: 22px;

          button {
            position: relative;
            top: -2px;

            display: flex;
            align-items: center;
            color: white;
            background-color: transparent;
            border: 1px solid #4098f4;
            // width: 150px;
            // height: 40px;
            border-radius: 4px;
            padding: 10px 15px;
            font-size: 22px;
            margin-left: 20px;
          }
        }
        .hash {
          width: 355px;
          height: 300px;
          // left: 993px;
          // top: 344px;

          background: #040f2e;
          border-radius: 6px;
          overflow: hidden;
          word-break: break-all;
          padding: 20px 15px;
          text-align: start;
        }

        .url {
          width: 355px;
          height: 100px;
          background: #040f2e;
          border-radius: 6px;
          overflow: hidden;
          word-break: break-all;
          padding: 20px 15px;
          text-align: start;
        }
      }
    }
  }

  .successControl {
    // background-color: aqua;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    button {
      width: 270px;
      height: 60px;
      background: #0072ff;
      border-radius: 10px;
      border: none;
      font-family: NeueMachina;
      color: white;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 26px;
      text-transform: uppercase;
      margin: 20px;
    }
  }
  .formContainer {
    max-width: 1000px;
    padding: 80px 0px;
    background-color: aqua;
  }

  .hyperContainer {
    padding: 50px 50px;

    // border-radius: 20px;
    // background: rgba(35, 25, 60, 0.7);
    // border: 1px solid #0074ff;

    .responseData {
      display: flex;
      padding: 20px 0;
      gap: 50px;
      .imageContainer {
        width: 250px;
      }
      .headersContainer {
      }
    }
  }

  // iframe {
  //   border-radius: 4px;
  //   border: 1px solid #4098f4;
  //   width: calc(100% - 50px);
  //   height: calc(600px);
  //   margin-top: 10px;
  // }
  // > div {
  //   height: 100%;

  //   overflow: auto;
  //   padding: 0 15px;
  // }
}
