@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;700&family=Cutive+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Chivo Mono', monospace;
  color: #f8f9fa;
  width: 350px;
  padding: 10px 20px 20px;
  background-color: #0d0c27;
  min-height: 370px;
}

.h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 2rem 0;
}

.h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 1.5rem 0;
}

.container {
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  opacity: 0.2;
  z-index: -1;
  bottom: 0;
  right: 20px;
  width: 100%;
  height: 100%;

  background: url('../static/background.png');
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.icon-container {
  width: 20%;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.icon-container:hover {
  transform: scale(1.05);
}

.icon-container__icon {
  width: 100%;
  height: 100%;
}

.btn-notarize {
  color: #f8f9fa;
  background-color: #5f3dc4;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-family: 'Chivo Mono', monospace;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
}

.btn-notarize:disabled {
  background-color: darkgray;
  background-color: transparent;
  border: 1px solid darkgray;
  color: grey;
  cursor: not-allowed;
  transform: scale(1) !important;
}

.btn-notarize:hover,
.btn-notarize:active {
  transform: scale(1.03);
}

.send-tweetid-container {
  padding: 7px;
}

.send-tweetid-container_form {
  position: relative;
  display: flex;
}

.send-tweetid-container_input {
  font-family: 'Chivo Mono', monospace;
  background-color: transparent;
  color: white;
  letter-spacing: 1px;
  flex: 1 0 20rem;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid #5f3dc4;
  border-radius: 5px;
}

.send-tweetid-container:focus,
.send-tweetid-container_input:focus-visible {
  outline: #5f3dc4;
}

.send-tweetid-container_error {
  position: absolute;
  bottom: -3rem;
  border-radius: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
}
