.container {
  padding: 6rem 0;
  position: relative;

  .h2 {
    position: relative;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5.8rem;
    text-align: center;
  }

  .subjects {
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 6.5rem;
    padding-top: 2rem;

    @media screen and (max-width: 1439px) {
      gap: 0;
    }
    @media screen and (max-width: 1023px) {
      gap: 8.7rem;
    }
    @media screen and (max-width: 639px) {
      gap: 3.7rem;
    }
    @media screen and (max-width: 508px) {
      gap: 2.7rem;
    }
    @media screen and (max-width: 374px) {
      gap: 1.7rem;
    }

    & > div {
      justify-self: center;
    }
  }
  .processes {
    position: relative;
    .lines {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: grid;
      grid-template-columns: repeat(4, min-content);
      gap: 20.5rem;
      justify-content: center;

      @media screen and (max-width: 1439px) {
        gap: 13.5rem;
      }

      @media screen and (max-width: 1023px) {
        gap: 22.5rem;
      }
      @media screen and (max-width: 639px) {
        gap: 17.5rem;
      }
      @media screen and (max-width: 508px) {
        gap: 12.5rem;
      }
      @media screen and (max-width: 375px) {
        gap: 9.5rem;
      }

      .line {
        border: 1px dashed #6c7f8383;
        height: 100%;
        width: 1px;
      }
    }
    .section {
      position: relative;
      padding: 4rem 0;
      @media screen and (max-width: 1023px) {
        padding: 3rem 0;
      }
      .h3 {
        position: relative;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 4rem;
        text-align: center;
        padding: 2rem 0;
      }
      .content {
        min-height: 10rem;
        display: grid;
        grid-template-columns: 1fr repeat(3, 20.7rem) 1fr;

        row-gap: 3rem;
        @media screen and (max-width: 1439px) {
          grid-template-columns: 1fr repeat(3, 13.7rem) 1fr;
        }
        @media screen and (max-width: 1023px) {
          display: block;
        }
        .p2 {
          position: relative;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.4rem;
          text-align: center;
          margin: auto;

          @media screen and (max-width: 1023px) {
            font-size: 2rem;
            line-height: 3.4rem;
          }
          @media screen and (max-width: 374px) {
            font-size: 1.8rem;
            line-height: 3.4rem;
          }
        }
        .p3 {
          position: relative;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 2.8rem;
          text-align: center;
          margin: auto;
          @media screen and (max-width: 1023px) {
            font-size: 1.8rem;
          }
        }
        .action {
          position: relative;
          &.haiku {
            @media screen {
              display: flex;
              justify-content: center;
            }
          }
          .sakura {
            position: absolute;
            top: 50%;
            left: -1rem;
            transform: translateY(-50%);
          }
          .list {
            padding-left: 2.4rem;

            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            letter-spacing: 0em;
            text-align: left;

            @media screen and (max-width: 1023px) {
              font-size: 2rem;
              line-height: 2.8rem;
            }
          }
        }
      }
      &.leak {
        .content {
          grid-template-rows: 1fr 2fr;
          gap: 0;
        }
        .process {
          grid-column: 1 / 2;
          grid-row: 1 / -1;
        }

        .action {
          grid-column: 5 / -1;
          grid-row: 1 / -1;
          align-self: center;
          margin-left: 4rem;
          @media screen and (max-width: 1023px) {
            margin-left: 0;
          }
        }
        .arrow {
          grid-column: 2 / span 3;

          &:not(:last-child) {
            align-self: flex-end;
            margin-bottom: 0;
          }
          &:last-child {
            align-self: flex-start;
          }

          .p2 {
            @media screen and (max-width: 1023px) {
              max-width: 50rem;
            }
          }
        }
      }

      &.evidence {
        .content {
          grid-template-rows: repeat(4, max-content);
          row-gap: 2rem;
        }
        .action {
          grid-column: 1 / 2;
          grid-row: 1 / -1;
          margin-right: 4rem;
          @media screen and (max-width: 1023px) {
            margin-right: 0;
          }
          &.actionsList {
            grid-column: 1 / span 3;
            grid-row: 3 / 4;
            justify-self: flex-end;
            margin-right: 1rem;
            @media screen and (max-width: 508px) {
              margin-right: 0;
              margin-top: 10rem;
            }

            .turnAroundArrowLeft {
              right: -10rem;
              transform: translateY(-50%);

              @media screen and (max-width: 1023px) {
                right: -3rem;
                transform: translate(100%, -50%);
              }
              @media screen and (max-width: 639px) {
                right: -1rem;
                transform: translate(100%, -50%);
              }
              @media screen and (max-width: 508px) {
                // position: relative;
                transform: translateX(50%);
                top: -5rem;
                right: 50%;
              }
            }
          }

          &.haiku {
            grid-row: 4 / 5;
            grid-column: 1 / span 2;
            justify-self: flex-end;
            margin-right: 0;
            transform: translateX(-5%);
            @media screen and (max-width: 1023px) {
              transform: none;
            }
          }
        }

        .process {
          grid-column: 5 / -1;
          grid-row: 1 / -1;
          align-self: center;
          margin-left: 4rem;
          @media screen and (max-width: 1023px) {
            margin-left: 0;
          }
        }

        .arrow {
          &.mint {
            grid-column: 3 / span 1;
          }

          &.get {
            grid-column: 4 / span 1;
            grid-row: 2 / span 1;
          }

          &.nft {
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            align-self: baseline;
          }
        }
      }

      &.cover {
        .content {
          grid-template-rows: 1fr 2fr;
          gap: 0;
        }

        .arrow {
          grid-column: 2 / span 3;
          grid-row: 1 / -1;
          align-self: center;
        }

        .process {
          grid-column: 1 / 2;
          grid-row: 1 / -1;
        }
      }

      &.storage {
        .content {
          grid-template-rows: 1fr 2fr;
          gap: 0;
        }

        .process {
          grid-column: 5 / -1;
          grid-row: 1 / -1;
          align-self: center;
          margin-left: 4rem;
          @media screen and (max-width: 1023px) {
            margin-left: 0;
          }
        }
        .action {
          max-width: 28rem;

          grid-column: 2 / span 2;
          grid-row: 2 /3;
          justify-self: center;
          @media screen and (max-width: 1439px) {
            grid-column: 2 / span 3;
            grid-row: 2 /3;
            margin: 0 2rem;
            max-width: initial;
          }
        }
        .arrow {
          grid-column: 3 / span 1;
          align-self: flex-end;
        }
      }

      .arrow {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        margin: 2rem 0;
        align-self: flex-end;
        @media screen and (max-width: 1023px) {
          margin: 3rem auto;
          width: 68.5rem;
        }
        @media screen and (max-width: 639px) {
          margin: 3rem auto;
          width: 53.5rem;
        }
        @media screen and (max-width: 508px) {
          width: 38.5rem;
        }
        @media screen and (max-width: 375px) {
          width: 29.5rem;
        }

        & > * {
          grid-column: 1 / -1;
        }
      }
      .soildArrowRight {
        position: relative;
        border-bottom: 1px solid #fbfbfb;
        margin-top: 0.5rem;
        &::after,
        &::before {
          content: '';
          position: absolute;
          background-color: #fbfbfb;
          width: 1px;
          height: 9px;
          right: 3px;
        }
        &::after {
          top: -1px;
          transform: rotate(45deg);
        }
        &::before {
          bottom: -2px;
          transform: rotate(-45deg);
        }
      }
      .dottedArrowLeft {
        position: relative;
        border-bottom: 1px dashed #fbfbfb;
        margin-top: 0.5rem;
        &::after,
        &::before {
          content: '';
          position: absolute;
          background-color: #fbfbfb;
          width: 1px;
          height: 9px;
          left: 3px;
        }
        &::after {
          top: -1px;
          transform: rotate(-45deg);
        }
        &::before {
          bottom: -2px;
          transform: rotate(45deg);
        }
      }
      .turnAroundArrowLeft {
        position: absolute;
        border: 1px solid #fbfbfb;
        border-left: none;

        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        .p2 {
          position: absolute;
          top: -3rem;
          left: -1.5rem;
          width: 12rem;
          @media screen and (max-width: 1023px) {
            left: -1rem;
            top: -4rem;
          }
        }

        right: -9rem;
        top: 50%;
        width: 9rem;
        height: 2.2rem;

        &::after,
        &::before {
          content: '';
          position: absolute;
          background-color: #fbfbfb;
          width: 1px;
          height: 9px;
          left: 3px;
        }
        &::after {
          bottom: -8px;
          transform: rotate(-45deg);
        }
        &::before {
          bottom: -2px;
          transform: rotate(45deg);
        }

        @media screen and (max-width: 1023px) {
          
          top: 50%;
          right: -3rem;
          transform: translate(100%, -50%);
          
        }
      }
      .nftArrow {
        
        right: 0;
        top: 0;
        width: 8rem;
        transform: translateY(50%);

        & > p {
          margin-bottom: 1rem;
        }
        @media screen and (max-width: 1439px) {
          width: 100%;
        }

        @media screen and (max-width: 1023px) {
          position: relative;
          width: 33%;
          margin: auto;
          transform: initial;
        }
      }
    }
  }
}
