.container {
  position: relative;
  background-image: url('../../../../public/images/img-01.png');
  background-size: cover;
  background-position: right;
  background-color: #040d2c;
  height: 1090px;
  padding: 50px 120px;

  .logo {
    width: 240px;
  }

  h1 {
    max-width: 800px;
    padding-top: 150px;
    padding-bottom: 50px;
  }

  nav {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    p {
      padding: 50px;
      font-weight: 700;
      font-size: 24px;
      line-height: 60px;
    }
  }

  p {
    font-size: 30px;
    line-height: 42px;
    font-weight: 400px;
  }

  .partners {
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    div {
      width: 240px;
      // height: 50px;
      // background-color: rgb(21, 36, 31);
      // border: 1px solid wheat;
    }
  }
}
