.container {
  position: relative;
  color: white;
  max-width: 137rem;
  padding: 0 4rem 10rem;
  margin: auto;

  @media screen and (max-width: 424px) {
    padding: 0 2rem 10rem;
  }

  .main {
    position: relative;
    padding-top: 3rem;
    z-index: 1;

    .bgCircles {
      position: absolute;
      background-image: url(../../../public/images/background-circles.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 140rem;
      width: 150rem;
      top: 0rem;
      right: -20rem;
      opacity: 0.5;
      z-index: 1;
    }

    .tweetResults {
      position: relative;
    }

    .spy {
      position: absolute;
      right: 40rem;
      top: -5rem;
      @media screen and (max-width: 1439px) {
        right: 42rem;
      }
      @media screen and (max-width: 1023px) {
        top: initial;
        bottom: -32rem;
        right: 45%;
      }
      @media screen and (max-width: 767px) {
        right: 50%;
        transform: translateX(50%);
        bottom: -48rem;
      }
    }

    .message {
      position: absolute;
      top: 1.5rem;
      right: -3rem;
      width: 56rem;
      height: 12rem;
      background-image: url('../../../public/images/message-bg.png');

      background-repeat: no-repeat;
      background-position-x: -15px;
      background-position-y: -3px;

      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 1439px) {
        background-size: cover;
        width: 62rem;
        height: 14rem;
      }

      @media screen and (max-width: 1023px) {
        top: initial;
        bottom: -14rem;
        right: 35%;
        transform: translateX(50%);
      }

      @media screen and (max-width: 767px) {
        right: 50%;
        width: 52rem;
        height: 12rem;
        background-position-x: -8px;
      }

      .text {
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 150%;
        color: #15cef7;
        width: 41rem;

        border-radius: 100px;
        @media screen and (max-width: 1439px) {
          font-size: 2rem;
          width: 38rem;
        }
      }
    }

    .title {
      position: relative;
      .h2 {
        position: relative;
        margin-top: 3.7rem;
        z-index: 1;
        padding-bottom: 4.8rem;
      }
      .p3 {
        position: absolute;
        bottom: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.8rem;
        padding-bottom: 2rem;
        letter-spacing: 1px;
        z-index: 1;
      }
    }
  }
}
