.container {
  position: relative;
  color: white;
  margin: auto;
  background-color: #131314;

  &.noscroll {
    overflow: hidden !important;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 70rem;
    background: url('../../../public/images/hero-image-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #131314;
    background-blend-mode: color-dodge;
    left: 0;
    top: 0;

    .gradientBlack {
      height: 100%;
      background: linear-gradient(0deg, #131314 0%, #13131400 50%);
    }
  }

  .content {
    position: relative;
    max-width: 137rem;
    padding: 0 4rem 5rem;
    margin: auto;

    @media only screen and (max-width: 1023px) {
      padding: 0 3rem 5rem;
    }
    @media only screen and (max-width: 639px) {
      padding: 0 2rem 5rem;
    }
  }
}
