.container {
  background-color: #040416;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .navElement {
    padding: 0 2rem;
    font-weight: 700;
    @media screen and (max-width: 425px) {
      display: none;
    }

    &.small {
      display: none;
      @media screen and (max-width: 425px) {
        display: block;
      }
    }
  }
}
