.container {
  position: relative;
  margin-top: 6.5rem;
  .bg {
    position: absolute;
    top: 0;
    right: -30rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 4rem;
  }
}
