.container {
  max-width: 30rem;
  background: rgba(23, 23, 28, 0.6);
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.08), inset 2px 2px 4px rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(13px);

  border-radius: 20px;

  padding: 2rem;

  @media screen and (max-width: 1439px) {
    max-width: 40rem;
  }

  @media screen and (max-width: 1023px) {
    max-width: 64rem;
    padding: 4rem;
    margin: auto;
  }
  @media screen and (max-width: 508px) {
    max-width: 40rem;
    padding: 2rem;
  }

  .message {
    position: relative;
    height: 10rem;

    @media screen and (max-width: 1439px) {
      height: 14rem;
    }

    @media screen and (max-width: 1023px) {
      position: absolute;
      max-width: 50%;
      right: 4rem;
      top: 2rem;
    }
    @media screen and (max-width: 508px) {
      position: relative;
      max-width: initial;
      right: initial;
      top: initial;
    }

    .bubble {
      height: 100%;

      img {
        width: 100%;
        display: block;
      }
    }

    .p {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 22rem;
      font-family: Russo One;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.3rem;
      text-align: center;

      @media screen and (max-width: 1439px) {
        top: 53%;
        font-size: 1.8rem;
        line-height: 3rem;
        width: 28rem;
      }
    }
  }

  .pictures {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;

    @media screen and (max-width: 1023px) {
      gap: 4rem;
      align-items: end;
    }

    .userPic {
      img {
        width: 100%;
      }
    }
    .tweetPic {
      img {
        width: 100%;
      }
    }
  }
}
