.container {
  position: relative;

  &:last-child {
    top: -2px;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    border-top: 2px solid #fbfbfb;
    border-bottom: 2px solid #fbfbfb;
  }
}
