.container {
  position: relative;
  // background-color: aqua;
  width: 360px;
  // display: flex;
  flex-direction: column;
  text-align: center;
  font-family: NeueMachina;

  .image {
    width: 359px;
    border: 2px solid #8f00ff;
    filter: drop-shadow(0px 0px 34px #8f00ff);
    border-radius: 16px;
    padding: 8px;

    img {
      width: 339px;
    }
  }

  .position {
    display: inline-block;
    position: relative;
    top: -25px;
    font-family: NeueMachina;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    background: #8f00ff;
    border-radius: 10px;
    padding: 16px 12px;
  }
  .name {
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    margin-top: 10px;
  }

  .description {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    width: 310px;
    margin: 25px;
    margin-left: 45px;
    text-align: left;
  }
}
