.container {
  position: relative;
  background: rgba(23, 23, 28, 0.6);
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.08), inset 2px 2px 4px rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(13px);

  border-radius: 20px;

  padding: 4rem 4rem 6rem;

  @media only screen and (max-width: 1023px) {
    top: -9rem;
    padding: 4rem 4rem 4rem;
  }
  @media only screen and (max-width: 639px) {
    padding: 2.5rem 2.5rem 4rem;
  }

  .ol {
    padding: 4rem 0;
    list-style-type: none;
    margin: 0;

    display: flex;

    @media only screen and (max-width: 1023px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media only screen and (max-width: 639px) {
      display: block;
      padding: 2rem 0;
      min-width: 2.5rem;
    }

    .li {
      max-width: 30rem;
      text-align: center;
      position: relative;
      flex: 1;

      &:last-child {
        flex: 1.5;
      }

      &:not(:first-child) {
        .number {
          &::before {
            position: absolute;
            content: '';
            width: calc(50% - 3.2rem);
            height: 1px;
            left: 0;
            top: 50%;
            background-color: #221f32;
          }
        }
      }

      &:not(:last-child) {
        @media screen and (max-width: 1200px) {
          margin-right: 1rem;
        }
        @media screen and (max-width: 1023px) {
          margin-right: 0;
        }
        .number {
          &::after {
            position: absolute;
            content: '';
            width: calc(50% - 3.2rem);
            height: 1px;
            right: 0;
            top: 50%;
            background-color: #221f32;
          }
        }
      }

      .number {
        position: relative;

        display: flex;
        justify-content: center;
      }
      .p2 {
        font-style: normal;
        padding: 1rem 0;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
      }
      @media only screen and (max-width: 1023px) {
        padding: 2rem 3rem;
        min-width: 31rem;
      }
      @media only screen and (max-width: 805px) {
        min-width: 25rem;
      }
      @media only screen and (max-width: 680px) {
        min-width: 22rem;
      }
      @media only screen and (max-width: 639px) {
        display: flex;
        max-width: unset;
        width: 100%;
        text-align: start;
        align-items: center;
        padding: 0.5rem 0;

        .number {
          margin-right: 1rem;
        }

        .p2 {
          padding: 0;
        }
      }
    }
  }

  .description {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1023px) {
      display: block;
    }
    .process {
      max-width: 59rem;
      margin-right: 2rem;
      @media only screen and (max-width: 1023px) {
        max-width: unset;
        width: 100%;
      }
      .h2 {
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 5.8rem;
        padding: 0;
        margin-bottom: 2rem;

        @media only screen and (max-width: 1023px) {
          text-align: center;
          font-size: 5.2rem;
        }

        @media only screen and (max-width: 639px) {
          font-size: 2.8rem;
          line-height: 3.8rem;
          text-align: start;
        }
      }
      .p2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom: 4rem;
        @media only screen and (max-width: 1023px) {
          max-width: 80rem;
          text-align: center;
          margin: auto;
          margin-bottom: 4rem;
          font-size: 2rem;

          line-height: 2.4rem;
        }
        @media only screen and (max-width: 639px) {
          text-align: start;
          max-width: unset;
        }
      }

      .processOrder {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: 1023px) {
          justify-content: center;

          & > * {
            margin: 1rem;
          }
        }

        @media only screen and (max-width: 639px) {
          display: block;
        }

        .divider {
          // height: 14px;
          // padding-top: 4rem;
          position: relative;
          border: 1px solid white;
          width: 7rem;
          // padding: 0 2rem;
          // margin: 2.5rem 2.5rem;
          transform: translateY(3.5rem);

          &::before,
          &::after {
            position: absolute;
            content: '';
            background-image: url(../../../public/images/line-dot.png);
            background-size: 14px;
            width: 14px;
            height: 14px;
            top: 0;
            // transform: translate(20%, -50%);
          }

          &::before {
            left: -1.5rem;
            transform: translateY(-50%);
          }

          &::after {
            right: -1.5rem;
            transform: translateY(-50%);
          }

          img {
            transform: translateY(-50%);
          }
          @media only screen and (max-width: 1023px) {
            width: 11rem;
          }
          @media only screen and (max-width: 639px) {
            width: unset;

            margin: 2.5rem 2.5rem;
            padding: 0;
            transform: translate(0);
            img {
              transform: translate(0);
            }
          }
        }
      }
    }
    .web3note {
      max-width: 46rem;
      @media screen and (max-width: 1023px) {
        max-width: 70rem;
        display: flex;
        align-items: flex-end;
        padding-top: 5rem;
        margin: auto;
      }
      @media screen and (max-width: 639px) {
        flex-direction: column;
        align-items: center;
        max-width: 58rem;
      }
      @media screen and (max-width: 424px) {
        align-items: flex-start;
      }
      .rects {
        display: flex;
        margin-bottom: 2rem;
        position: relative;
        @media screen and (max-width: 1023px) {
          margin-bottom: 0;
          margin-right: 2rem;
        }
        @media screen and (max-width: 639px) {
          margin-bottom: 2rem;
          margin-right: 0;
        }
        .spy {
          width: 27rem;
          height: 21rem;

          background: rgba(41, 41, 50, 0.7) url('../../../public/images/rect-glow.png');
          box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.08), inset 2px 2px 4px rgba(255, 255, 255, 0.08);
          backdrop-filter: blur(5px);

          border-radius: 20px;

          position: relative;
          img {
            width: 81%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .web {
          position: relative;
          width: 18.2rem;
          height: 9.9rem;
          right: -0.5rem;

          top: 5rem;

          background: rgba(41, 41, 50, 0.7);

          box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.08), inset 2px 2px 4px rgba(255, 255, 255, 0.08);
          backdrop-filter: blur(5px);

          border-radius: 20px;
          transform: rotate(15deg);

          font-family: Bruno Ace;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.2rem;
          padding: 2rem 3.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media screen and (max-width: 1023px) {
            position: absolute;
            top: 0;
            right: 0;
            transform: scale(0.75) rotate(15deg) translate(120%, -90%);
          }

          @media screen and (max-width: 639px) {
            transform: scale(0.8) rotate(15deg) translate(60%, -90%);
          }

          p:last-child {
            position: relative;
            text-align: right;
            margin-top: 0.5rem;

            &::before {
              width: 3rem;
              height: 3rem;
              position: absolute;
              left: 0;
              content: '';
              background: url(../../../public/images/icon-logout.png);
              background-repeat: no-repeat;
              transform: rotate(-15deg) translate(-0.5rem, -10%);
            }
          }
        }
      }
      .p2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        @media screen and (max-width: 1023px) {
          font-size: 2rem;
          line-height: 2.8rem;
        }
      }
    }
  }
}
