.container {
  position: relative;
  // height: 4rem;
  z-index: 50;

  .form {
    display: flex;
    position: relative;
    flex-wrap: wrap;

    .error {
      position: absolute;
      top: -1rem;
      left: 0.5rem;
      width: 80%;
      @media screen and (max-width: 767px) {
        width: 100%;
        left: 0;
      }

      .errorText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        bottom: 0;
        position: absolute;
        font-size: 1.6rem;
        color: red;
        font-weight: 600;
        letter-spacing: 1px;
        border: 1px solid red;
        border-radius: 25px;
        padding: 0.8rem 2.4rem;
        background: #151518;
        @media screen and (max-width: 767px) {
          border-radius: 10px;
        }
      }
    }
    .inputGroup {
      position: relative;
      height: 4rem;
      flex: 1 1;
      margin-right: 3rem;

      @media only screen and (max-width: 639px) {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
      }

      .input {
        background: #151518;
        border: 1px solid #6c7f83;
        border-radius: 100px;
        @media only screen and (max-width: 639px) {
          border-radius: 10px;
        }
        height: 100%;
        width: 100%;
        padding: 0.8rem 2.4rem;
        padding-right: 4.4rem;
        color: var(--textColor);
        font-size: 1.4rem;
        word-break: break-all;

        &:disabled,
        &:disabled:hover,
        &:disabled::after,
        &:disabled::before {
          cursor: not-allowed;
        }
      }
      .clearButton {
        position: absolute;
        right: 1.8rem;
        top: 50%;
        transform: translateY(-50%);
        height: 1.8rem;
        width: 1.8rem;
        border: 0;
        background-color: transparent;
        z-index: 1000;
        color: var(--buttonBgColor);

        &:disabled,
        &:disabled:hover,
        &:disabled::after,
        &:disabled::before {
          cursor: not-allowed;
        }

        &::after,
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          border: 1px solid #6c7f83;
          width: 2.2rem;
          height: 0;
          cursor: pointer;
          transform-origin: center;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::before {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover,
        &:active {
          &::after,
          &::before {
            border-color: white;
          }
        }
      }
    }

    .controls {
      margin-left: auto;
      height: 4rem;
      @media only screen and (max-width: 639px) {
        margin: auto;
      }

      .button {
        height: 100%;
        padding: 0.8rem 1.6rem;
        border: none;
        border-radius: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 20px 50px rgba(6, 10, 20, 0.07), inset -6px -10px 20px rgba(8, 11, 24, 0.3),
          inset 6px 10px 20px rgba(255, 255, 255, 0.05);

        transition: all 0.2s;
        border: 1px solid var(--buttonBgColor);

        svg {
          position: relative;
          top: -1px;
          margin-right: 1rem;
        }

        &:hover,
        &:active {
          transform: scale(1.02);
          box-shadow: none;
        }

        &:disabled {
          color: #6c7f83;
          border: 1px solid #6c7f83;
          background-color: inherit;

          box-shadow: none;
          &:hover,
          &:active {
            transform: scale(1);
          }
        }
      }
    }
  }
}
