.container {
  position: relative;
  height: 4rem;
  z-index: 50;

  .form {
    display: flex;
    position: relative;

    .error {
      position: absolute;
      top: -3rem;
      left: 2.4rem;
      font-size: 1.6rem;
      color: red;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .inputGroup {
      position: relative;
      height: 4rem;
      flex: 1 1;
      margin-right: 3rem;
      .input {
        background: #151518;
        border: 1px solid #6c7f83;
        border-radius: 100px;
        height: 100%;
        width: 100%;
        padding: 8px 24px;
        color: var(--textColor);
        font-size: 1.4rem;

        &:disabled,
        &:disabled:hover,
        &:disabled::after,
        &:disabled::before {
          cursor: not-allowed;
        }
      }
      .clearButton {
        position: absolute;
        right: 1.8rem;
        top: 1rem;
        height: 1.8rem;
        width: 1.8rem;
        border: 0;
        background-color: transparent;
        z-index: 1000;
        color: var(--buttonBgColor);

        &:disabled,
        &:disabled:hover,
        &:disabled::after,
        &:disabled::before {
          cursor: not-allowed;
        }

        &::after,
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0px;
          top: 9px;
          border: 1px solid #6c7f83;
          width: 1.8rem;
          height: 0;
          cursor: pointer;
          @media screen and (max-width: 768px) {
            top: 6px;
          }
        }

        &::after {
          transform: rotate(45deg);
        }

        &::before {
          transform: rotate(-45deg);
        }

        &:hover,
        &:active {
          &::after,
          &::before {
            border-color: white;
          }
        }
      }
    }

    .controls {
      margin-left: auto;
      height: 4rem;

      .button {
        height: 100%;
        padding: 0.8rem 1.6rem;
        border: none;
        border-radius: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 20px 50px rgba(6, 10, 20, 0.07), inset -6px -10px 20px rgba(8, 11, 24, 0.3),
          inset 6px 10px 20px rgba(255, 255, 255, 0.05);

        transition: all 0.2s;

        svg {
          position: relative;
          top: -1px;
          margin-right: 1rem;
        }

        &:hover,
        &:active {
          transform: scale(1.02);
          box-shadow: none;
        }

        &:disabled {
          color: #6c7f83;
          border: 1px solid #6c7f83;
          background-color: inherit;

          box-shadow: none;
          &:hover,
          &:active {
            transform: scale(1);
          }
        }
      }
    }
  }
}
