.container {
  position: relative;
  max-width: max-content;

  @media screen and (max-width: 1023px) {
    margin: auto;
    margin-top: 2rem;
    max-width: 58rem;
  }

  .description {
    border: 1px solid #fbfbfb;
    border-radius: 20px;
    padding: 1rem 1rem;
    background-color: var(--backgroundColor);
    @media screen and (max-width: 508px) {
      margin: auto;
    }

    &:has(ul) {
      padding-right: 2.5rem;
      max-width: max-content;
      position: relative;
      @media screen and (max-width: 1023px) {
        max-width: 38rem;
      }
    }

    @media screen and (max-width: 1439px) {
      padding: 2rem 1.4rem;
    }
    @media screen and (max-width: 1023px) {
      padding: 2rem 2.4rem;
    }

    &.pictured {
      padding-bottom: 3rem;
      margin-bottom: 8rem;
    }
  }

  .person {
    position: absolute;
    transform: translate(-50%, -10.5rem);
    left: 50%;
    text-align: center;

    .userpic {
      width: 5rem;
      height: 5rem;
      background: #1b222c;

      box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.08), inset 2px 2px 4px rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(5px);

      border-radius: 100px;
      text-align: center;
      margin: auto;

      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 0.5rem;
      .image {
        display: inline-block;
      }
    }

    .title {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.8rem;

      max-width: 15rem;
      margin: auto;
    }
  }
}
