.container {
  background: var(--backgroundColor);
  max-width: 137rem;
  padding: 0 4rem 10rem;
  margin: auto;
  min-height: 100vh;

  .main {
    padding-top: 3rem;

    .h2 {
      margin-top: 3.7rem;
    }
  }
}
