.container {
  position: relative;
  background-color: #0d0c27;

  font-family: monospace;
  color: white;

  .content {
    position: relative;
    background-color: #0d0c27;

    margin: auto;
    max-width: 140rem;
    min-height: 100vh;
    padding: 8rem 2rem 2rem;
    .hash {
      padding: 1rem 0;
      font-size: 1.8rem;
      line-height: 1.8rem;
      display: inline-block;
      color: yellow;
      font-weight: 700;
    }

    .h1 {
      font-size: 3rem;
      text-transform: lowercase;
    }

    .advise {
      font-size: 4rem;
      text-align: center;
      padding: 2rem;
    }

    .requestForm {
      padding: 2rem 0;
    }

    .preview {
      position: relative;
      display: grid;
      padding: 3rem;
      grid-template-columns: 65% 30%;
      justify-content: space-between;
      row-gap: 6rem;

      .getting {
        font-size: 5rem;
        color: #adbbff76;
        padding: 2rem 0;
      }

      .image {
        position: relative;
        text-align: center;
        min-height: 50rem;

        .hash {
          position: absolute;
          bottom: -3rem;
          left: 0;
        }

        img {
          width: 100%;
        }
      }

      .empty {
        border: 10px dashed #adbbff76;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .qr {
        justify-self: center;
        width: 30rem;
        min-height: 30rem;
        overflow: hidden;
        padding: 3rem 0;

        .empty {
          height: 30rem;
          font-size: 3rem;
          color: #adbbff76;
          text-align: center;
          padding: 1rem;
        }

        & *:not(:last-child) {
          margin-bottom: 2rem;
        }
        .qrImage {
          width: 100%;
          border-radius: 10px;
        }
        .qrDescription,
        .notice {
          padding: 1rem;
          font-size: 1.8rem;
          font-weight: 700;
        }
        .notice {
          color: #adbbff76;
          text-align: center;
        }
        .notarize {
          .button {
            background-color: #7c5ae4;
            border: 2px solid #7c5ae4;
            border-radius: 5px;
            color: white;
            font-size: 2.5rem;
            line-height: 2.5rem;
            font-weight: 700;
            width: 100%;
            padding: 2rem 3.5rem;
            cursor: pointer;
            transition: all 0.2s;

            &:disabled,
            &:disabled:hover,
            &:disabled:active {
              cursor: not-allowed;
              background-color: #adbbff76;
              border: none;
              color: gray;
              opacity: 0.6;
            }

            &:hover,
            :active {
              color: white;
              background-color: #0d0c27;
              border: 2px solid #7c5ae4;
            }
          }
        }
      }

      .meta {
        min-height: 40rem;
        grid-column: 1 / -1;
      }
    }
  }
}
