.container {
  position: relative;
  // padding: 2rem;
  text-align: center;
  background-color: #0d0c27;

  .form {
    // background-color: white;
    position: relative;
    // width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > :first-child {
      margin-bottom: 3rem;
    }
  }

  &.inline {
    .form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & > :first-child {
        margin-bottom: 0rem;
        margin-right: 3rem;
      }
    }
  }

  .error {
    // max-width: 40rem;
    word-wrap: break-word;
    position: absolute;
    top: 7rem;
    left: 0;
    color: red;
    // border: 1px solid red;
    border-radius: 5px;
    padding: 1.4rem 2rem;
    // background-color: white;
    overflow: hidden;
    transition: all 0.4s;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;

    .arrow {
      position: absolute;
      width: 1px;
      height: 0.5rem;
      background-color: red;
      top: -5px;
      left: 50%;
    }

    &.hidden {
      top: 0rem;
      height: 0;
      width: 0;
      border: none;
      visibility: hidden;
    }
  }
  .inputGroup {
    position: relative;
    flex: 1 1 40rem;
    // width: 40rem;
    .clearButton {
      position: absolute;
      right: 2.8rem;
      top: 1.8rem;
      height: 1.8rem;
      width: 1.8rem;
      border: 0;
      background-color: transparent;
      z-index: 1000;
      color: #4666ff;

      &:disabled,
      &:disabled:hover,
      &:disabled::after,
      &:disabled::before {
        cursor: not-allowed;
      }

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: 9px;
        border: 1px solid gray;
        width: 2.8rem;
        height: 0;
        cursor: pointer;
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }

      &:hover,
      &:active {
        &::after,
        &::before {
          border-color: #4666ff;
        }
      }
    }

    .label {
      visibility: hidden;
      display: none;
    }

    .input {
      position: relative;
      background-color: #0d0c27;
      z-index: 1000;
      height: 6rem;
      width: 100%;
      border: 2px solid #4666ff;
      color: white;
      font-size: 2.5rem;
      line-height: 2.5rem;
      border-radius: 5px;
      padding: 1rem 2rem;
      padding-right: 5rem;
      outline: 0;
      font-family: monospace;

      &.invalid {
        border-color: red;
      }

      &::placeholder {
        transition: all 0.2s;
      }

      &:focus::placeholder {
        opacity: 0;
      }
    }
  }

  .controls {
    .submitButton {
      background-color: #4666ff;
      border: 2px solid #4666ff;

      border-radius: 5px;
      padding: 1rem 3.5rem;
      transition: all 0.2s;
      height: 6rem;
      cursor: pointer;
      font-family: monospace;
      text-transform: uppercase;
      color: white;
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 700;

      &:disabled,
      &:disabled:hover {
        cursor: not-allowed;
        background-color: darkgray;
        color: gray;
      }

      &:hover,
      :active {
        color: white;
        background-color: #0d0c27;
        border: 2px solid #4666ff;
      }
    }
  }
}
