@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.cdnfonts.com/css/russo-one');

:root {
  --backgroundColor: #131314;
  --textColor: #fbfbfb;
  --buttonBgColor: #15cef7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  background: var(--backgroundColor);

  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
}

body {
  background: var(--backgroundColor);
  margin: 0;
  font-family: General Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 6.3rem;
  font-weight: 600;
  line-height: 7.6rem;
  color: #ffffff;
}

h2 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 7.2rem;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
  padding: 3.2rem 0;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
}

p {
}

button {
  font-family: General Sans, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing: 0;
  text-align: left;
  background-color: var(--buttonBgColor);
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a:link,
a:active,
a:visited {
  color: #187ec5;

  text-decoration: none;
}
