* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  background-color: #0d0c27;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #0d0c27;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:link,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}
