.container {
  position: relative;
  background-image: url('../../../../public/images/img-02.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #221739;
  height: 1385px;

  text-align: center;
  padding-top: 150px;

  h1 {
    position: relative;
    top: 830px;
  }

  .box {
    position: absolute;
    padding: 50px 50px;
    width: 579px;
    border-radius: 20px;
    background: rgba(35, 25, 60, 0.7);
    border: 1px solid #0074ff;
    backdrop-filter: blur(25px);
    text-align: start;

    &.left {
      left: 100px;
      top: 160px;
    }

    &.right {
      right: 100px;
      top: 600px;
    }

    p {
      font-size: 24px;
      line-height: 36px;

      &.description {
        margin-bottom: 25px;
      }

      &.list {
        margin: 5px 0;
        span {
          font-size: 85px;
          line-height: 10px;
          margin-left: -5px;
          margin-right: 5px;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .box {
      background: rgba(35, 25, 60, 0.8);

      &.left {
        left: 10px;
        top: 160px;
      }

      &.right {
        right: 10px;
        top: 550px;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    h1 {
      top: 620px;
    }
    .box {
      width: 650px;

      &.left {
        top: 60px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      &.right {
        right: 50%;
        top: 900px;
        transform: translate(50%, 0);
      }

      p {
        font-size: 24px;
        line-height: 36px;

        &.description {
          margin-bottom: 25px;
        }

        &.list {
          margin: 5px 0;
          span {
            font-size: 85px;
            line-height: 10px;
            margin-left: -5px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 80px;
    }
    .box {
      width: 530px;
      background: rgba(35, 25, 60, 0.7);

      &.left {
        top: 260px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      &.right {
        right: 50%;
        top: 900px;
        transform: translate(50%, 0);
      }

      p {
        font-size: 18px;
        line-height: 24px;

        &.description {
          margin-bottom: 25px;
        }

        &.list {
          margin: 5px 0;
          span {
            font-size: 55px;
            line-height: 10px;
            margin-left: -5px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 576px) {
    background-position: center 160px;

    h1 {
      font-size: 60px;
      line-height: 62px;
      top: 940px;
    }

    .box {
      border: none;
      width: 100%;
      background: transparent;
      backdrop-filter: unset;
      padding: 30px;

      &.left {
        top: 0;
      }

      &.right {
        top: unset;
        bottom: 0;
        backdrop-filter: blur(10px);
      }

      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;

        &.description {
          margin-bottom: 25px;
        }

        &.list {
          margin: 5px 0;
          span {
            font-size: 55px;
            line-height: 10px;
            margin-left: -5px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 420px) {
    background-size: 375% 95%;
    h1 {
      font-size: 50px;
      line-height: 52px;
      top: 940px;
    }
    .box {
      p {
        &.description {
          margin-bottom: 10px;
        }
      }
    }
  }
}
