.container {
  margin-top: 2rem;
  .h2 {
    max-width: 92rem;
    margin-bottom: 2.8rem;
    @media screen and (max-width: 1023px) {
      margin: auto;
      margin-bottom: 3rem;
    }
    @media screen and (max-width: 639px) {
      max-width: 60rem;
      font-size: 4rem;
      line-height: 5.2rem;
    }
  }
  .benefitsList {
    list-style-type: none;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (max-width: 639px) {
      display: block;
    }

    .benefitsListElement {
      padding-right: 1rem;
      max-width: 41rem;
      @media screen and (max-width: 1023px) {
        max-width: 76rem;
        display: flex;
        align-items: center;
        padding-right: 0;

        &:nth-child(2) {
          flex-direction: row-reverse;
        }
      }
      @media screen and (max-width: 639px) {
        display: block;
      }
      .p2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        @media screen and (max-width: 1023px) {
          font-size: 2rem;
          line-height: 3.2rem;
        }

        @media screen and (max-width: 639px) {
          max-width: 58rem;
          margin: auto;
        }
      }
      .benefitImg {
        text-align: center;
        padding: 6rem 0;
        width: 40rem;
        height: 43rem;
        flex-shrink: 0;
        @media screen and (max-width: 1023px) {
          width: 38rem;
        }
        @media screen and (max-width: 639px) {
          margin: auto;
        }
        img {
          display: block;
          margin: auto;
          height: 100%;
        }
      }
    }
  }
}
