.container {
  background: rgba(23, 23, 28, 0.9);
  border: 1px solid #ffffff;
  width: 6.4rem;
  height: 6.4rem;

  font-size: 2.4rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

}
